.banner {
    background-color: gray;
    color: black;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}

#small-barkie {
    height: 100px;
    width: 100px;
    filter: drop-shadow(1px 1px 1px black); 
}


#barkie {
    color: black;
    font-size: 100px
}

.bold {
    font-weight: 900;
}

/* This is how you make comments in CSS using: /*
/* dropshadow is how you make an image have a shadow effect\*