.banner {
    background-color: gray;
    color: black;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}

#small-barkie {
    height: 100px;
    width: 100px;
}

#barkie {
    color: black;
    font-size: 100px
}

.bold {
    font-weight: 900;
}

/* This is how you make comments in CSS using: /*